/*
 *  CSS Reset
 *
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
hr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1.2em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

img {
	vertical-align:middle;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 *  Main layout
 *
 */

html, body {
	font-family: "Droid Sans", sans-serif;

	color: #bbcdde;
}

#slideshow {
	background-image: url(wall.png);

	width: 750px;
	height: 420px;

	overflow: hidden;
}

/*
 *  Controls
 *
 */

.control-arrow {
	z-index: 100;
	position: absolute;
	top: 20px;

	width: 20px;
	height: 20px;

	background: transparent;
	background-position: 0 0;
}
.control-arrow.disabled {
	cursor:default;
}
.control-arrow:hover, .control-arrow:focus {
	background-position: 0 -20px;
}
.control-arrow:active {
	background-position: 0 -40px;
}
#prev-slide {
	left: 670px;
	background-image: url(arrow-prev.png);
}
#next-slide {
	left: 710px;
	background-image: url(arrow-next.png);
}

/*
 *  Elements
 *
 */

a {
	color: #fff; /*#214478; */
	text-decoration: none;
}

.main a {
	border-bottom: 1px solid #bbb;
}

em {
	font-style: italic;
}

p, ul, ol {
	margin-bottom: 1em;
}

h2 {
	width: 270px;

/*	border-top: 1px solid rgba( 255, 255, 255, 0.3 ); */
	padding-top: 5px;
	margin-top: 2em;
	margin-bottom: 0.5em;

	font-family: "Droid Serif", serif;
	font-size: 90%;
	color: #fff;
}

/*
 *  More layout
 *
 */

.header {
	display: table-cell;
	width: 750px;

	padding: 0 100px 0 20px;
	height: 60px;

	vertical-align: middle;

	background-color: rgba( 0, 0, 0, 0.5 );
}
	.header h1 {
		color: #fff;

		font-size: 180%;
		font-family: "Droid Serif", serif;
		font-weight: normal;
	}

.main {
	font-size: 90%;

	background-image: url(shadow.png);
	background-position: 0 0;
	background-repeat: repeat-x;

	padding: 30px 0 0 0;
}
	.main .content, .main .shot {
		float: left;
	}
	.main .content {	
		width: 260px;
		padding: 0 20px;
	}
	.main .shot {
		margin-left: 10px;
	}
	.main .shot.full {
		margin-left: -10px;
		width: 440px;
	}
	.main .shot.clip {
		margin-left: 0;
	}
	.main .shot.leftpad {
		margin-left: 30px;
	}


/*
 *  Application paths
 *
 */

.paths {
	width: 230px;
	position: absolute;
	top: 280px;

	color: #fff;
}
.path { /* application paths */
	font-size: 75%;
	width: 270px; /* everything fits in oneliners with 270px! */
}

.path span {
	display: inline-block;
	margin: 0 2px;

	font-size: 120%;
	font-weight: bold;

	color: #007fbe;
}

.desktop_icon {
	margin-bottom: 7px;
}
