html, body {
	margin:0;
	padding:0;
	
	background-color:#F7F6F6;
	
	font-family:'UbuntuBeta', 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, sans-serif;
	font-size:12px;
	line-height:1.4em;
	
	color:#333333;
	
	/* no reason to expose this extra stuff to the user */
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	cursor:default;
}

/*
Hyperlink-style text
*/
a {
	color:#dd4814;
	font-style:italic;
	text-decoration:none;
}

#container {
	position:absolute;
	
	width:752px;
	height:442px;
	
	overflow:hidden;
}

#debug-controls {
	display:none;
	position:absolute;
	top:470px;
	width:798px;
	text-align:center;
}

#debug-controls input {
	width:40px;
}

#debug-controls input#current-slide {
	width:680px;
}

/* fixed container to align title */
.header {
	position:absolute;
	top:0px;
	width:100%;
	height:69px;
	background-color:#3C3B37;
}

.header > .title {
	margin:10px 25px 10px 25px;
	padding:0px;
	
	font-size:20px; /* applies to all lines except first */
	line-height:1em;
	font-weight:normal;
	
	color:#DED9CB;
}
.title:first-line {
	font-size:36px;
	line-height:32px;
}

.main {
	position:absolute;
	
	top:71px; /* 69px + a 2px margin */
	left:2px; /* 2px margin */
	height:369px; /* 442px (from #container) - 71px - 2px */
	width:748px; /* 752px - 2px - 2px */
	
	/* TODO: move this to #container if we don't want the background image to move with slides */
	background-image:url('background.png');
	
	z-index:12;
}

/*
Slide's body text goes inside here.
*/
.main > .text {
	position:absolute;
	top:25px;
	left:36px;
	width:248px;
}

.text > div {
	margin-bottom:8px;
	padding:12px;
	background-color:#F7F6F6;
}

.main > .screenshot {
	position:absolute;
	top:25px;
	right:-2px; /* offsets 2px margin of .main */
	
	-webkit-box-shadow:#999999 0px 0px 5px;
	-moz-box-shadow:#999999 0px 0px 5px;
	box-shadow:#999999 0px 0px 5px;
}

/*
This rule disables drag-and-drop for images.  See bug #448703.
*/
img {
 	-webkit-user-drag:none;
}



/* RTL stuff */
.rtl {
	direction:rtl;
}

.rtl .main > .text {
	left:auto;
	right:36px;
}

.rtl .main > .screenshot {
	right:normal;
	left:-2px;
}
