html, body
{
	margin:0;
	padding:0;
	
	background-color:#2e3436;
	
	font-family: sans-serif;
	
	line-height:20px;
}

#container
{
	position:absolute;
	
	width:700px;
	height:420px;
	
	background-image:url('background-simple.png');
	background-repeat:no-repeat;
	background-position:top left;
	
	cursor:default;
}

#debug-controls
{
	display: none;
	position: absolute;
	top: 440px;
	width:700px;
	text-align: center;
}

#debug-controls input
{
	width: 40px;
}

#debug-controls input#current-slide
{
	width: 600px;
}

/*
Title block is positioned at the top of a slide.
*/
#title
{
	position:absolute;
	top:15px;
	left:10px;
	font-size:26px;
	color:#ffffff;
}

/*
Typically an image. This is positioned at the top
right of a slide and is given a size of 64x64 pixels.
*/
#icon
{
	position:absolute;
	
	width:64px;
	height:auto;
	
	top:2px;
	right:2px;
}

/*
#content and #screenshots expect to be contained in
here. #main creates a nice, plain surface upon which
they can appear :)
*/
#main
{
	position:absolute;
	
	width:100%;
	height:340px;
	
	top:68px;
	left:0px;
	
	background-color:#fdfdfd;
	
	font-size:12px;
	color:#000000;
}

/*
Slide's body text goes here. It appears right below
the title, at the top of the white area with heavy
margins around it.
*/
#main #content
{
	position:absolute;
	margin: 16px;
	
	height:170px;
	width:668px;

	display: table;

}

#main #content #center
{
	display: table-cell;
	vertical-align: middle;
}

/*
Three small screenshots related to the slide should
go in this block.
*/
#main #screenshots
{
	position:absolute;
	
	width:100%;
	height:138px;
	
	bottom:10px;
	left:0px;
	
	text-align:center;
	
	white-space:nowrap;
}

/*
Actual screenshots are just loose img tags in the #screenshots section.
A height of 130px is enforced, though this will work with any width.
There is a dark grey border.
*/
#main #screenshots img
{
	height:130px;
	width:auto;
	
	border-style:solid;
	border-color:#2e3436;
	border-width:2px;
	
	margin:2px;
}



/*
The menu style is a descriptive aid for pointing the end user at, for
example, a place in either the system menu or an application menu.
This way, we can provide clear visual cues with minimal babbling.

Note that this only displays menu items in a horizontal line. It does
not support stacks of menu items.
*/
.menu
{
	display:inline-block;
	
	height:20px;
	padding:1px;
	
	border-style:solid;
	border-width:1px;
	border-color:#a89a8d;
	
	background-color:#f7f5f3;
}

/*
Use this for each item on the menu.
*/
.menu .item
{
	display:inline-block;
	
	height:18px;
}

/*
Use this to mark the 'important' part of the menu. For example, the item
in the menu we want the user to run.
It emulates the style for a highlighted menu item in the Human theme.
*/
.menu .highlight
{
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	
	border-style:solid;
	border-width:1px;
	border-color:#be873c;
	
	background-color:#fdbe69;
	background-image:url('menu-highlight.png');
	background-repeat:repeat-x;
}

/*
Icon for an application in a menu. Enforced height of 18px;
*/
.menu .item img
{
	height:18px;
	width:auto;
	
	float:left;
	
	margin-right:5px;
}

/*
Hyperlink-style text
*/
span.href
{
	color: blue;
	font-style: italic;
}
