html, body
{
	margin:0;
	padding:0;
	
	background-color:#2e3436;
	
	font-family: sans-serif;
	
	line-height:20px;
}

/*
Hyperlink-style text
*/
a
{
	color: blue;
	font-style: italic;
}

#container
{
	position:absolute;
	
	width:700px;
	height:420px;
	
	background-image:url('background-simple.png');
	background-repeat:no-repeat;
	background-position:top left;
	
	cursor:default;
}

#debug-controls
{
	display: none;
	position: absolute;
	top: 440px;
	width:700px;
	text-align: center;
}

#debug-controls input
{
	width: 40px;
}

#debug-controls input#current-slide
{
	width: 600px;
}

/*
Title block is positioned at the top of a slide.
*/
#title
{
	position:absolute;
	top:10px;
	left:40px;
	font-size:18px;
	
	color:#ffd58c;
}

/*
Typically an image. This is positioned at the top
right of a slide and is given a size of 64x64 pixels.
*/
#icon
{
	position:absolute;
	
	width:24px;
	height:auto;
	
	top:8px;
	left:4px;
}

/*
#content and #screenshots expect to be contained in
here. #main creates a nice, plain surface upon which
they can appear :)
*/
#main
{
	position:absolute;
	
	width:100%;
	height:358px;
	
	top:45px;
	left:0px;
	
	background-color:#fdfdfd;
	
	font-size:12px;
	color:#000000;
}

/*
Slide's body text goes here. It appears right below
the title, at the top of the white area with heavy
margins around it.
*/
#main #content
{
	padding-left:16px;
	padding-right:16px;
	
	height:182px;
	width:700px;
	
	vertical-align:middle;
	display:table-cell;
}

/*
Three small screenshots related to the slide should
go in this block.
*/
#main #screenshots
{
	position:absolute;
	
	width:100%;
	
	padding-top:4px;
	padding-bottom:4px;
	
	bottom:0px;
	left:0px;
	
	text-align:center;
	
	white-space:nowrap;
}

/*
Actual screenshots are just loose img tags in the #screenshots section.
A height of 130px is enforced, though this will work with any width.
There is a dark grey border.
*/
#main #screenshots img
{
	height:130px;
	width:auto;
	
	border-style:solid;
	border-color:#2e3436;
	border-width:2px;
	border-top-width:30px;
	
	margin:2px;
}

/*
The menu-item style is a descriptive aid for pointing the end user at,
for example, a place in either the system menu or an application menu.
This way we can provide clear visual cues with minimal babbling.
*/
.menu-item
{
	display:inline-block;
	
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	
	height:16px;
	padding:1px;
	
	padding-left:3px;
	padding-right:3px;
	
	border-style:solid;
	border-width:1px;
	border-color:#a89a8d;
	
	background-color:#f7f5f3;
}

/*
This rule applies to an img of class menu-arrow. It appears as a nice
looking arrow that can separate items in a menu much like how submenus
look in Ubuntu's GTK theme.
*/
.menu-item img.menu-arrow
{
	display:inline-block;
	content:url('menu-arrow.png');
	
	padding-left:2px;
	padding-right:5px;
}
